
@{
    ViewData["Title"] = "Create";
}

@model CreateProductVM
@section styles{
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
}

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" asp-for="Name">
        <span style="color:red" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input class="form-control" asp-for="Description">
        <span style="color:red" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input class="form-control" asp-for="Price">
        <span style="color:red" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Discount</label>
        <input class="form-control" asp-for="Discount">
        <span style="color:red" asp-validation-for="Discount"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">StockCount</label>
        <input class="form-control" asp-for="StockCount">
        <span style="color:red" asp-validation-for="StockCount"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Rating</label>
        <input class="form-control" asp-for="Rating">
        <span style="color:red" asp-validation-for="Rating"></span>
    </div>
    <div class="mb-3">
        <label>Categories</label>
        <select class="cat w-100" asp-for="CategoryIds" asp-items="@ViewBag.Categories" multiple="multiple">
        </select>
        <span class="text-danger" asp-validation-for="CategoryIds"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">MainImageFile</label>
        <input class="form-control" asp-for="MainImageFile">
        <span style="color:red" asp-validation-for="MainImageFile"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">ImageFiles</label>
        <input class="form-control" asp-for="ImageFiles">
        <span style="color:red" asp-validation-for="ImageFiles"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section scripts{
    <script src="~/select2/js/select2.min.js"></script>
    <partial name="_ValidationPartial" />
    <script>$(document).ready(function () {
            $('.cat').select2({
                maximumSelectionLength: 4
            });
        });</script>
}