
@{
    ViewData["Title"] = "Update";
}

@section styles{
    <style>
        .prod-imgs {
            display: flex;
            gap: 10px;
        }

            .prod-imgs div {
                position: relative;
            }

                .prod-imgs div .x-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 20px;
                    cursor: pointer;
                    color: red;
                    background-color: #fff;
                    padding: 5px;
                }
    </style>
}

@model UpdateProductGetVM

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" asp-for="Name">
        <span style="color:red" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input class="form-control" asp-for="Description">
        <span style="color:red" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input class="form-control" asp-for="Price">
        <span style="color:red" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Discount</label>
        <input class="form-control" asp-for="Discount">
        <span style="color:red" asp-validation-for="Discount"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">StockCount</label>
        <input class="form-control" asp-for="StockCount">
        <span style="color:red" asp-validation-for="StockCount"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Rating</label>
        <input class="form-control" asp-for="Rating">
        <span style="color:red" asp-validation-for="Rating"></span>
    </div>
    <div class="mb-3">
        <label><img src="~/@Model?.MainImage" width="100" height="100" /></label>
        <input class="form-control" asp-for="MainImageFile">
        <span style="color:red" asp-validation-for="MainImageFile"></span>
    </div>
    <div class="mb-3">
        <label class="prod-imgs">
            @if (Model?.ProductImages != null)
            {
                @foreach (var img in Model.ProductImages)
                {
                    <div>
                        <a asp-action="DeleteImage" asp-route-id="@img.Id" class="x-button">x</a>
                        <img src="~/@img.Name" width="100" height="100" />
                    </div>
                }
            }
        </label>
        <input class="form-control" asp-for="ProductImageFiles">
        <span style="color:red" asp-validation-for="ProductImageFiles"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section scripts{
    <script>$(".x-button").click(e => {
            e.preventDefault();
            let elem = e.target;
            console.log(elem.href);
            fetch(elem.href).then(res => {
                if (res.ok == true) {
                    elem.parentElement.remove()
                }
            })
                .catch(e => {
                    console.log(e)
                })
        })</script>
}